<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>{{'my.profile'|trans}}</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</label>
                    <span disabled class="form-control"> {{ user.username }}</span>
                </div>
                <div class="form-group">
                    <label>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</label>
                    <span disabled class="form-control"> {{ user.email }}</span>
                </div>
                <div class="form-group">
                    <label>{{'profile.name'|trans}}</label>
                    <span disabled class="form-control"> {{ user.name }}</span>
                </div>
                <a href="{{path ('fos_user_profile_edit') }}"class="btn btn-primary"><i class="fa fa-edit "></i> {{'profile.edit'|trans}}</a>
                <a href="{{path ('fos_user_change_password') }}"class="btn btn-primary"><i class="fa fa-key"></i> {{'profile.change.password'|trans}}</a>
            </div>
            <div class="panel-footer text-right">
                <a href="{{path ('adminhome') }}"class="btn btn-info"><i class="fa fa-arrow-left"></i> {{'return'|trans}}</a>
            </div>
        </div>
    </div>
</div>