{% extends 'AdminBundle::base.html.twig' %}
{% block title %}
    {{parent()}}
    {{'admin.dashboard'|trans}}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{'admin.dashboard'|trans}} <small>{{'admin.summary'|trans}}</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green">
                <div class="panel-body">
                    <i class="fa fa-bar-chart-o fa-5x"></i>
                    <h3>{{categorys}}</h3>
                </div>
                <div class="panel-footer back-footer-green">
                    Categorias

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-body">
                    <i class="fa fa-calendar fa-5x"></i>
                    <h3>{{events}}</h3>
                </div>
                <div class="panel-footer back-footer-blue">
                    Eventos

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-red">
                <div class="panel-body">
                    <i class="fa fa-graduation-cap fa-5x"></i>
                    <h3>{{careers}}</h3>
                </div>
                <div class="panel-footer back-footer-red">
                    Carreras

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-brown">
                <div class="panel-body">
                    <i class="fa fa-users fa-5x"></i>
                    <h3>{{users}}</h3>
                </div>
                <div class="panel-footer back-footer-brown">
                    Usuarios
                </div>
            </div>
        </div>
    </div>
{% endblock %}