{% import 'AdminBundle:tools:macros.html.twig' as ge %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{'app.name'|trans}} {{'admin.title'|trans}} -{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'AdminBundle::nav-bar.html.twig' %}
        <div class="page-content">
            <div class="row">
                <div class="col-md-2">
                   {% include 'AdminBundle::sidebar.html.twig' %}
                </div>
                <div class="col-md-10">    
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
            <script src="{{ asset('assets/js/jquery-3.2.0.min.js') }}"></script>
            <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/custom.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
