<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('adminhome') }}">
            <img height="30" src="{{ asset('apple-touch-icon.png') }}">
            {{'app.name'|trans}} {{'admin.title'|trans}}
        </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                {{app.user.name}}
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="{{path ('fos_user_profile_show') }}"><i class="fa fa-user fa-fw"></i>{{'my.profile'|trans}}</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{path ('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>{{'logout'|trans}}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>