<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a href="{{ path('adminhome') }}"><i class="fa fa-dashboard"></i>{{'admin.dashboard'|trans}}</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users"></i>{{'user'|trans}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="{{ path('admin_user_listactive') }}"><i class="fa fa-user-circle"></i>{{'user.active'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_listinactive') }}"><i class="fa fa-user-times"></i>{{'user.inactive'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_new') }}"><i class="fa fa-user-plus"></i>{{'user.new'|trans}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-list"></i>{{'category'|trans}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="{{ path('admin_category_active') }}"><i class="fa fa-check-square"></i>{{'category.active'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_category_inactive') }}"><i class="fa fa-minus-square"></i>{{'category.inactive'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_category_new') }}"><i class="fa fa-plus-square"></i>{{'category.new'|trans}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-calendar"></i>{{'event'|trans}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="{{ path('admin_event_active') }}"><i class="fa fa-calendar-check-o"></i>{{'event.active'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_event_inactive') }}"><i class="fa fa-calendar-minus-o"></i>{{'event.inactive'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_event_new') }}"><i class="fa fa-calendar-plus-o"></i>{{'event.new'|trans}}</a>
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="#"><i class="fa fa-graduation-cap"></i>{{'career'|trans}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="{{ path('admin_career_active') }}"><i class="fa fa-check-square"></i>{{'career.active'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_career_inactive') }}"><i class="fa fa-minus-square"></i>{{'career.inactive'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_career_new') }}"><i class="fa fa-plus-square"></i>{{'career.new'|trans}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>