<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'profile.change.password'|trans}}
            </div>
            <div class="panel-body">
                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                    {{ form_widget(form) }}
                    <div>
                        <button class="btn btn-success" type="submit"> <i class="fa fa-check-square"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right">
                <a href="{{path ('fos_user_profile_show') }}"class="btn btn-info"><i class="fa fa-arrow-left"></i> {{'return'|trans}}</a>
            </div>
        </div>
    </div>
</div>